<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
        <servlet-name>Validatestudent</servlet-name>
        <servlet-class>oes.controller.Validatestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>oes.controller.ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admins</servlet-name>
        <servlet-class>oes.db.Admins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instructions</servlet-name>
        <servlet-class>oes.db.Instructions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider</servlet-name>
        <servlet-class>oes.db.Provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>oes.db.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>oes.db.Students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsDao</servlet-name>
        <servlet-class>oes.model.AdminsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsDao</servlet-name>
        <servlet-class>oes.model.StudentsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsDao</servlet-name>
        <servlet-class>oes.model.QuestionsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionsDao</servlet-name>
        <servlet-class>oes.model.InstructionsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instructioninsert</servlet-name>
        <servlet-class>oes.controller.Instructioninsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutstudent</servlet-name>
        <servlet-class>oes.controller.Logoutstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutadmin</servlet-name>
        <servlet-class>oes.controller.Logoutadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionInsert</servlet-name>
        <servlet-class>oes.controller.QuestionInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studentinsert</servlet-name>
        <servlet-class>oes.controller.Studentinsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validatestudent</servlet-name>
        <url-pattern>/Validatestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admins</servlet-name>
        <url-pattern>/Admins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instructions</servlet-name>
        <url-pattern>/Instructions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/Provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsDao</servlet-name>
        <url-pattern>/AdminsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsDao</servlet-name>
        <url-pattern>/StudentsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsDao</servlet-name>
        <url-pattern>/QuestionsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionsDao</servlet-name>
        <url-pattern>/InstructionsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instructioninsert</servlet-name>
        <url-pattern>/Instructioninsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutstudent</servlet-name>
        <url-pattern>/Logoutstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutadmin</servlet-name>
        <url-pattern>/Logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionInsert</servlet-name>
        <url-pattern>/QuestionInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studentinsert</servlet-name>
        <url-pattern>/Studentinsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>